A:link {
	COLOR: rgb(255,255,255)
}
A:visited {
	COLOR: rgb(255,255,255)
}
A:active {
	COLOR: rgb(255,153,0)
}
TABLE {
	table-border-color-light: rgb(255,204,102); table-border-color-dark: rgb(204,153,102)
}
BODY {
	COLOR: rgb(255,255,255); FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: rgb(64,64,127)
}
H1 {
	COLOR: rgb(255,255,255); FONT-FAMILY: Times New Roman, Times
}
H2 {
	COLOR: white; FONT-FAMILY: Times New Roman, Times
}
H3 {
	COLOR: white; FONT-FAMILY: Times New Roman, Times
}
H4 {
	COLOR: white; FONT-FAMILY: Times New Roman, Times
}
H5 {
	COLOR: white; FONT-FAMILY: Times New Roman, Times
}
H6 {
	COLOR: white; FONT-FAMILY: Times New Roman, Times
}
CODE {
	FONT-SIZE: medium; COLOR: yellow; FONT-STYLE: normal; FONT-FAMILY: Courier
}
P.TechNote {
	BORDER-RIGHT: silver outset; PADDING-RIGHT: 0px; BORDER-TOP: silver outset; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 20px; MARGIN-LEFT: 25px; VERTICAL-ALIGN: top; BORDER-LEFT: silver outset; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: silver outset; FONT-STYLE: italic; BACKGROUND-COLOR: lightcyan
}
PRE.SourceCode {
	BORDER-RIGHT: silver outset; BORDER-TOP: silver outset; BORDER-LEFT: silver outset; COLOR: black; BORDER-BOTTOM: silver outset; FONT-FAMILY: "Courier New", Courier, monospace; BACKGROUND-COLOR: white
}
